{% include 'company_landing_page.html' %}
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<div class=container1>
	<ol class="breadcrumb my-4">
        <li class="breadcrumb-item">{{company.companyName}}</li>
        <li class="breadcrumb-item active">{{ company.companyName}}  Company Overview</li>
    </ol>
<style >

    .container1{    
    position: relative;
    top: 50px;
    left: 210px;
    width: 80%;
    height: 100%;}

    .widgetmain{text-align:left;
        overflow-y:auto;
        overflow-x:hidden;
        width:1000px;
        background-color:#transparent;
        border:3px solid #333333;}


   


 </style>   
<div id="competitors" class="card" align="left">
<div class="card-header">The Dope Sheet</div>
<div class="card-body">
    <h4>Company Bio</h4>
    <p>{{company.overview}}</p>
    <h4>Company Website</h4>
    <a href='{{company.companyURL}}' style="color: #0000FF">{{company.companyURL}}</a>
    <div class="row">
        <div class="col-md-4">
            <h4 class="card-title">Competitors:</h4>
            <p class="card-text">{{company.competitors}}</p>
        </div>
        <div class="col-md-4">
            <h4 class="card-title">Business Type:</h4>
            <p class="card-text">{{company.business_type}}</p>
        </div>
    </div>
</div> 
</div>
<div id="company-news" class="card" align="left">
<div class="card-header">Recent News</div>
<div class="card-body border-secondary mb-3">
    <h4>{{ feed.feed.title }}</h4>
        {% if feed.entries %}
        {% for entry in feed.entries %}
            <div class=“card”>
            <div class=“card-header”>
            </div>
            <div class=“card-body”>
                <h5 class=“card-title”>Headline: {{entry.title|safe}}</h5>
                <p class=“card-text”>Description: {{entry.description|safe}}</p>
                <a href='{{entry.link|safe}}' class=“btn btn-primary”>Visit Link</a>
            </div>
            </div><p><small class="text-muted">Article Published: {{entry.published}}</small></p>

        {% endfor %}
        {% else %}
 
        {% endif %}
</div> 


