{% extends 'base.html' %}
{% load static %}<!DOCTYPE html>
{% block 'content' %}
<head>
	<script>type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"</script>
	<script>type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"</script>
	<script type="text/javascript" class="init">
		$(document).ready(function() {
			$('#dict-table').DataTable();
		} );
	</script>
</head>
<div class="container1">
	<ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Dictionary</li>
    </ol>
 
<style >

.container1{    
position: relative;
left: 210px;
width: 80%;
height: 100%;}

</style>

<div id="page-content" align="center">
	<h2>Start Learning the Words You Need to Know!</h2>
  		<p>Input the term you are looking for or expand any of the sections to get started.</p>  
  		<div id="example_filter" class="dataTables_filter">
  				<input type="search" class="form-control form-control-sm" placeholder="Search.." aria-controls="dict-table">
  		</div>
  		
  	<br>

	<table id='dict-table' class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Term</th>
            <th>Definition</th>
            <th>Context</th>
          </tr>
        </thead>
        <tbody>
  	 		{% for row in dictionary %}
   		     <tr>
		        <td>{{ row.term}}</td>
  		      	<td>{{ row.definition}}</td>
    		    <td>{{ row.useful_example}}</td>
 		       </tr>
 	   		{% endfor %} 
	    </tbody>
    </table>

</div>
</div>

{% endblock %}