{% extends 'base.html' %}
{% load static %}
{% block 'content' %}

<div class="container1">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'explained'%}">Industries Explained</a></li>
      <li class="breadcrumb-item active">Why the cloud?</li>
    </ol>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style >
.container1{    
position: relative;
top: 53px;
left: 210px;
width: 80%;
height: 100%;}
</style>
<div class="container" align="center">
  <div class="col-lg-9" >
    <div class="card" align="left">
        <img class="card-img-top " src="{% static 'img/eli5/cloud.png' %}" alt="" height="225px">
        <div class="card-header" align="left">TL;DR - The Cloud</div>
        <div class="card-body">
          
            <p class="card-text">
            	The cloud means data center. At the root of all cloud computing is hinged on central storage of data that can be accessed via the internet. The cloud may still feel like a buzzword but it has proved to be a vital component in almost every company’s infrastructure playbook. To start with why, we must look back into what storage looked like even 10 years ago.</p>
		</div>
	</div>
	<div class="card" align="left">
    <div class="card-header" align="left">Background</div>
		<div class="card-body">	
				<p>Commercially available internet storage was a generally new concept and was expensive. Almost every person carried a flash drive or external hard drive to safely store and transfer documents and file. Emailing files to yourself was beginning to be a normal way to store your files but security and availability were constant concerns. Similarly, companies had to purchases expensive physical servers and hire people who knew how to configure and maintain them. As the technical and storage abilities of software and hardware continued to improve, industry leaders like Google and IBM started promoting cloud-based storage and operations for nearly all purposes. </p>
		</div>
	</div>
	<div class="card" align="left">
    <div class="card-header" align="left">The Business Purpose</div>
		<div class="card-body">	
				<p>The cloud allows companies to make data accessible over the internet. This is the most important feature of the cloud. The cloud has allowed the software-as-a-service business model to flourish allowing vendors and customers to rethink their software strategy. Due to the data being accessible via the internet, other business areas such as disaster recovery, workforce globalization, and infrastructure scalability have been made easier and cost effective for most companies.</p> 
   		</div>
   	</div>
</div>
</div>
{% endblock %}