{% extends 'base.html' %}
{% load static %}
{% block 'content' %}

<div class="container1">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'explained'%}">ELI5</a></li>
      <li class="breadcrumb-item active">Why the XaaS Model?</li>
    </ol>
<style >
.container1{    
position: relative;
top: 53px;
left: 210px;
width: 80%;
height: 100%;}
</style>

<div class="col-lg-9" >
    <div class="card mt-4">
        <img class="card-img-top " src="{% static 'img/eli5/handshake.png' %}" alt="" height="225px" border="1">
        <div class="card-body">
    	    <h3 class="card-title" align="center">XaaS</h3>
            <p class="card-text">
            <h4>TL;DR</h4>
            <p>X-as-a-Service is a rental business model. Customers are able to rent software/hardware for a subscription fee and do not need to worry about the upkeep.</p></p>
       	</div>
	</div>
	<div class="card">
		<div class="card-body">	
            <h5>For Vendors</h5>
			<p>This allows vendors the simplicity to maintain a central software application and sell subscriptions to customers. While the subscriptions may come with customizable options, vendors do not have to develop the software/hardware from scratch for each sale. For support and maintenance, vendors only have to update a central codebase and have the flexibility to push updates as they need.</p> 
			<p>From a business model perspective, the vendor can project more accurate revenue targets as they already have revenue under contract with their subscriptions.</p>
		</div>
	</div>
	<div class="card">
		<div class="card-body">	
			<h5>For Customers</h5>
			<p>This allows customers the flexibility to rent vs buy. As with most decisions like this, there are usually considerations for economies of scale. With XaaS, customers will only pay for the usage of the tools but will usually not be responsible for maintenance or support. This creates the ability for customers to use a piece of software without having to hire extra personnel to run the day-to-day.</p>
			
			<p>Since the customers are not purchasing the software or hardware outright, the accounting moves from capital expenditures to operating expenditures. There is debate on whether the tax implications are  important, but minimizing CapEx, or going ‘asset-light’, is a common strategy for tech companies.
            </p>
            
        </div>
     </div>

</div>
</div>
{% endblock %}