{% extends 'base.html' %}
{% block 'content' %}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

   
</head>

<div class="container1" >
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item active">ELI5</li>
    </ol>

<style>

    .container1{    
    position: relative;
    top: 53px;
    left: 210px;
    width: 80%;
    height: 100%;}

.just-padding { padding: 15px;}
.list-group.list-group-root {
  padding: 0;
  overflow: hidden;}
.list-group.list-group-root .list-group {margin-bottom: 0;}
.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;}
.list-group.list-group-root > .list-group-item:first-child {border-top-width: 0;}
.list-group.list-group-root > .list-group > .list-group-item {padding-left: 30px;}
.list-group.list-group-root > .list-group > .list-group > .list-group-item {padding-left: 45px;}
.list-group-item .glyphicon {margin-right: 5px;}
</style>


<body>
<div class="container" align="center">
	<div class="col-lg-12" align="center">
  		<div class="row" align="left">
    		<div class="col-12 col-md-10 col-md-8">
      			<h4>Choose the topic tabs below to get started!</h4>
      			<hr style="margin-top: 10px;" />
      				<div class="panel-group" id="accordion">
        				<div class="panel panel-default">
          					<a href="#" class="list-group-item panel-title" data-toggle="collapse" data-target="#s0" data-parent="#accordion">
            					<span id="AccordionHeadings">Hardware</span><span class="badge badge-light float-right mt-2">12 Articles</span><span class="glyphicon glyphicon-menu-down pull-right">
            					</span>
            				</a>
            				<!--Hardware -->
          					<div id="s0" class="sublinks collapse">
                    <a class="list-group-item small d-flex align-items-center" href="{% url 'eli_infras'%}">
                    <!--  <img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/e0a3j2l.png" /> -->
                      <div class="">
                          <h5>Infrastructure Overview</h5>
                          <p id="AccordionText">Store your files in one place, share them with others, and get them from any device connected to the Internet.</p>
                        </div>
                    </a>
            				<a class="list-group-item small d-flex align-items-center" href="{% url 'eli_storage'%}">
							     <!--	<img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/e0a3j2l.png" /> -->
							       <div class="">
                					<h5>Storage</h5>
                					<p id="AccordionText">Store your files in one place, share them with others, and get them from any device connected to the Internet.</p>
              					</div>
            				</a>
            				<a class="list-group-item small d-flex align-items-center" href="{% url 'eli5server'%}"">
						      	<!--	<img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/uii8cJt.png" /> -->
              					<div>
                					<h5>Servers</h5>
                					<p id="AccordionText">Share and manage content, knowledge, and applications to empower teamwork and quickly find information within your organization.</p>
              					</div>
            				</a>
            				<a class="list-group-item small d-flex align-items-center" href="{% url 'eli_switches' %}">
              				<!--	<img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/fV0AGNi.png" /> -->
              					<div>
               						<h5>Switches</h5>
                					<p id="AccordionText">Microsoft Teams is a chat-based workspace offered in Office 365. Teams makes collaborating with your team easy.</p>
             					</div>
            				</a>
                    <a class="list-group-item small d-flex align-items-center" href="{% url 'eli_routers' %}">
                      <!--  <img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/fV0AGNi.png" /> -->
                        <div>
                          <h5>Routers</h5>
                          <p id="AccordionText">Microsoft Teams is a chat-based workspace offered in Office 365. Teams makes collaborating with your team easy.</p>
                      </div>
                    </a>
                    <a class="list-group-item small d-flex align-items-center" href="{% url 'eli_opssys' %}">
                      <!--  <img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/fV0AGNi.png" /> -->
                        <div>
                          <h5>Operating Systems</h5>
                          <p id="AccordionText">Microsoft Teams is a chat-based workspace offered in Office 365. Teams makes collaborating with your team easy.</p>
                      </div>
                    </a>
                    <a class="list-group-item small d-flex align-items-center" href="{% url 'eli_middleware' %}">
                      <!--  <img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/fV0AGNi.png" /> -->
                        <div>
                          <h5>Middleware</h5>
                          <p id="AccordionText">Microsoft Teams is a chat-based workspace offered in Office 365. Teams makes collaborating with your team easy.</p>
                      </div>
                    </a>
                    <a class="list-group-item small d-flex align-items-center" href="{% url 'eli_containers' %}">
                      <!--  <img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/fV0AGNi.png" /> -->
                        <div>
                          <h5>Containers</h5>
                          <p id="AccordionText">Microsoft Teams is a chat-based workspace offered in Office 365. Teams makes collaborating with your team easy.</p>
                      </div>
                    </a>
                    <a class="list-group-item small d-flex align-items-center" href="{% url 'eli_secsys' %}">
                      <!--  <img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/fV0AGNi.png" /> -->
                        <div>
                          <h5>Security Systems</h5>
                          <p id="AccordionText">Microsoft Teams is a chat-based workspace offered in Office 365. Teams makes collaborating with your team easy.</p>
                      </div>
                    </a>
                    <a class="list-group-item small d-flex align-items-center" href="{% url 'eli_virt' %}">
                       <!-- <img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/fV0AGNi.png" /> -->
                        <div>
                          <h5>Virtualization</h5>
                          <p id="AccordionText">Microsoft Teams is a chat-based workspace offered in Office 365. Teams makes collaborating with your team easy.</p>
                      </div>
                    </a>
                    <a class="list-group-item small d-flex align-items-center" href="{% url 'eli_hcivci' %}">
                      <!--  <img class="img-fluid" style="height: 32px; width: 45px;" src="https://i.imgur.com/fV0AGNi.png" /> -->
                        <div>
                          <h5>Hyperconverged Infrastructure vs. Converged Infrastructure</h5>
                          <p id="AccordionText">Microsoft Teams is a chat-based workspace offered in Office 365. Teams makes collaborating with your team easy.</p>
                      </div>
                    </a>
          					</div>
        				</div>
       					<div class="panel panel-default">
        	    			<a href="#" class="list-group-item panel-title" data-toggle="collapse" data-target="#s0" data-parent="#accordion">
          					<span id="AccordionHeadings">Databases</span><span class="badge badge-light float-right mt-2">7 Articles</span><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
      					</div>
      					<div class="panel panel-default">
        	    			<a href="#" class="list-group-item panel-title" data-toggle="collapse" data-target="#s0" data-parent="#accordion" style="background-color: #e5edf4;">
          					<span id="AccordionHeadings">Networks</span><span class="badge badge-light float-right mt-2">6 Articles</span><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
      					</div>
      					<div class="panel panel-default">
        	    			<a href="#" class="list-group-item panel-title" data-toggle="collapse" data-target="#s0" data-parent="#accordion" style="background-color: #e5edf4;">
          					<span id="AccordionHeadings">The Cloud</span><span class="badge badge-light float-right mt-2">8 Articles</span><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
      					</div>
      					<div class="panel panel-default">
        	    			<a href="#" class="list-group-item panel-title" data-toggle="collapse" data-target="#s0" data-parent="#accordion" style="background-color: #e5edf4;">
          					<span id="AccordionHeadings">Cybersecurity</span><span class="badge badge-light float-right mt-2">6 Articles</span><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
      					</div>
      					<div class="panel panel-default">
        	    			<a href="#" class="list-group-item panel-title" data-toggle="collapse" data-target="#s0" data-parent="#accordion" style="background-color: #e5edf4;">
          					<span id="AccordionHeadings">API's</span><span class="badge badge-light float-right mt-2">6 Articles</span><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
      					</div>
      					<div class="panel panel-default">
        	    			<a href="#" class="list-group-item panel-title" data-toggle="collapse" data-target="#s0" data-parent="#accordion" style="background-color: #e5edf4;">
          					<span id="AccordionHeadings">Payment Processing</span><span class="badge badge-light float-right mt-2">2 Articles</span><span class="glyphicon glyphicon-menu-down pull-right"></span></a>
      					</div>
    				</div>
          					
 

 <!--Hardware -->
  <!--Hardware -->
   <!--Hardware -->
    <!--Hardware -->
     <!--Hardware -->
      <!--Hardware -->
       <!--Hardware -->
        <!--Hardware -->

{% endblock %}