{% include 'company_landing_page.html' %}
{% load static %}<!DOCTYPE html>
<div class=container1>
	<ol class="breadcrumb my-4">
        <li class="breadcrumb-item">{{company.companyName}}</li>
        <li class="breadcrumb-item active">Financials - Annual Reports</li>
    </ol>
   <style>
    .container1{    
    position: relative;
    top: 53px;
    left: 210px;
    width: 80%;
    height: 100%;}
.alert-info {
  padding: 2px;
  
  
  
}
.closebtn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
 
  </style>
<div align="center">
<h1>{{company.companyName}} Annual Reports</h1>
<hr>
<div class="alert-info">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <p><h5><ul>What To Look For In Annual Reports:</h5>
    <div class = "row">
      <div class = "col"></div>
      <div class = "col">CEO Letter to the Shareholders</div>
      <div class = "col">Business Section</div>
      <div class = "col"></div>
    </div>
    <div class = "row">
      <div class = "col"></div>
      <div class = "col">Vision and Strategy Statements</div>
      <div class = "col">Acquisitions, Divestments, Other Holdings  </div>
      <div class = "col"></div>
    </div>
    <div class = "row">
      <div class = "col"></div>
      <div class = "col">Risks</div>
      <div class = "col">Financial Statements</div>
      <div class = "col"></div>
    </div>
  </ul>
  </p>
</div>
<hr>
<div class="row">
  <div class="col-md-4"><button class="btn btn-info" onclick="Show2020()">{{company.fiscal_year_end}} Report </button></div>
  <div class="col-md-4"><button class="btn btn-info" onclick="Show2019()">{{company.fiscal_year_end|add:"-1" }} Report</button></div>
  <div class="col-md-4"><button class="btn btn-info" onclick="Show2018()">{{company.fiscal_year_end|add:"-2" }} Report</button></div>
</div>
<br></br>
<div id="2018Report" class=" pdfobject-container" style ="display:none">
  <embed class="pdfobject" 
      {% with 'financials/annual_reports/'|add:company.companyName|cut:" "|add:'/two_years_prior.pdf' as annual_report %}
          src="{% static annual_report %}"
      {% endwith %}
      type="application/pdf" 
      style="overflow: auto; width: 100%; height: 800px;">
</div>
<div id="2019Report" class=" pdfobject-container" style ="display:none">
  <embed class="pdfobject" 
      {% with 'financials/annual_reports/'|add:company.companyName|cut:" "|add:'/prior_year.pdf' as annual_report %}
          src="{% static annual_report %}"
      {% endwith %}
      type="application/pdf" 
      style="overflow: auto; width: 100%; height: 800px;">
</div>
<div id="2020Report" class=" pdfobject-container" style ="display:none">
  <embed class="pdfobject" 
      {% with 'financials/annual_reports/'|add:company.companyName|cut:" "|add:'/current_year.pdf' as annual_report %}
          src="{% static annual_report %}"
      {% endwith %}
      type="application/pdf" 
      style="overflow: auto; width: 100%; height: 800px;">
</div>

</div>
</div>
<script type="text/javascript">
function Show2018() {
    document.getElementById("2018Report").style.display='block';
    document.getElementById("2019Report").style.display='none';
 	document.getElementById("2020Report").style.display='none';
}	
function Show2019() {
    document.getElementById("2018Report").style.display='none';
 	document.getElementById("2019Report").style.display='block';
 	document.getElementById("2020Report").style.display='none';
}	
function Show2020() {
 	document.getElementById("2018Report").style.display='none';
    document.getElementById("2019Report").style.display='none';
 	document.getElementById("2020Report").style.display='block';
}	
</script>