{% include 'company_landing_page.html' %}
<div class=container1>
	<ol class="breadcrumb my-4">
        <li class="breadcrumb-item">{{company.companyName}}</li>
        <li class="breadcrumb-item"><a href="{% url 'productflashcards' company.pk%}">{{company.companyName}} Flashcards</a></li>
    	<li class="breadcrumb-item active">
    		{% for row in prod_lines %}
    			{{row.product_line}} Vocab
    		{% endfor %}
    	</li>
    </ol>
<style>
.container1{    
    position: relative;
    top: 53px;
    padding-bottom: 30px;
    left: 210px;
    width: 80%;
    height: 100%;
}

.gallery-cell {
  width: 50%;
  height: 100px;
  perspective: 600px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s ease-in;
  transform-style: preserve-3d;
}

.gallery-cell:hover .wrapper,
.gallery-cell.flipped .wrapper {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background-color: #d9dede;
  color: #0087cc;
  text-align: center;

}

.card__face--back {
  background-color: #d9dede;
  color: #0087cc;
  transform: rotateY(180deg);
  
}

.card_contents {
    overflow: hidden;
    margin: 0;
    display: center;
}

.foot {bottom: 0}

</style>

 <br></br>
<div class="container" align="center">
<div id="flashcards">
{% for word in categories%}
<div class="gallery-cell card flippable" align="center">
  <div class="wrapper" align="center">
    <div class='card__face card__face--front' align="center">
      <div class='card_contents' align="center">
          {{word.term__term}}
      </div>
    </div>
    <div class='card__face card__face--back' align="center">
      <div class='card_contents'align="center">
          {{word.term__definition}}
      </div>
    </div>
  </div>
</div>
<br></br>
{% endfor %}
</div>
</div>


<footer id=foot class="page-footer font-small blue">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: EasySource LLC</div>
  <!-- Copyright -->
</footer>
