{% extends 'base_accounts.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
<br></br>
<br></br>
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">PrepForTech</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Log in</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
            <small> By logging in, you agree to our <a href ="{% url 'termsofservice' %}"> Terms of Use </a> and  <a href ="{% url 'privacy' %}">Privacy Policy<a>.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}