<!doctype html>
<h3>ONLINE PRIVACY POLICY</h3>

<h5>Last Modified: September 8, 2020 </h5>

<p>At EasySource (“we,” “our,” or “us”), we understand how important your privacy is and want you to understand how we use your information. This Online Privacy Policy (“Policy”) applies to our websites and various online services operated by or on behalf of EasySource where this Policy is posted (each website or online service being referred to hereafter as the “Site”).  It does not apply to any information collected offline or otherwise outside of the Site. This Policy will let you know what kind of information we collect on our Site, how we collect that information, and what we do with it. If this Policy or the corresponding <a href ="{% url 'termsofservice' %}"> Terms of Use </a>  are not consistent with your values or are not acceptable to you, we kindly ask that you do not use the Site. While this Policy describes how we treat personal information, please be aware that additional terms and conditions may apply for certain parts of our Site.</p>

<h5>INFORMATION WE COLLECT</h5> 

Information You Provide to Us. We may collect personal information about you when you provide it to us while using or interacting with the Site such as your name, email address, telephone number, mailing address, business name, login information, location, financial information, account information, demographic information, messages you submit via the Site form, and other information that may personally identify you.  If you apply for an open position with us, we will also collect information related to your employment application, such as resume, education, work experience, and professional certifications.

Information We Collect Automatically. As you use our Site, we may use technologies that collect certain information about you automatically. We may collect, among other things, your IP address, location, device type, date and time of visit, operating system, browser type and version, your activities on the Site, and information about how you use the Site. If you are visiting the Site via a mobile device, we may also collect your mobile device’s unique device ID and information about how you use the Site from a mobile device. 

<h5>INFORMATION WE OBTAIN FROM THIRD PARTIES </h5>

From time to time, we receive information about individuals from our third party service providers, affiliates, agents, social media services, and partners. For example, we may receive information through email campaigns with our third party service providers, including whether you have read an email sent by us or on our behalf, forwarded an email, and when and how many times you have opened an email. We may also receive information from third party analytics on the Site that allow us to improve our Site and services. 

<h5>AUTOMATIC INFORMATION COLLECTING TECHNOLOGIES </h5>

EasySource and its third party business partners or providers may use a variety of technologies that collect information automatically, including cookies, web beacons, flash cookies, and logging. For example, we may use Google Analytics to help us understand how our customers interact with the Site—you can read more about how Google uses your information here: https://policies.google.com/privacy. You can also opt-out of Google Analytics here: https://tools.google.com/dlpage/gaoptout. The following may help you better understand cookies and web beacons: 

<li>	Cookies. A cookie is a small text file that is sent to your browser when you access a website, including the Site. We and the third parties described below may use session cookies. A session cookie is available only during the course of the browser session; the information is not sent to or stored on a computer’s hard drive. Closing the browser or logging off will invalidate the session cookie. We and the third parties described below may also use machine cookies, which do remain on a computer hard drive and gather information, sometimes over time and across websites. You can find more information about your choices regarding cookies under the heading “YOUR CHOICES” found further below.</li>

<li>	Web Beacons. “Web beacons” or “tracking pixels” are electronic images, tags, or scripts that allow a website to access cookies and among other things, help track general usage patterns of visitors to a website. Web beacons can recognize certain types of information, such as cookies, time and date of a page view, and a description of the page where the web beacon is placed. We and the third parties described below may use web beacons to compile information regarding your use of the Site. </li>

<h5>HOW WE USE INFORMATION </h5>
Uses of Information You Provide to Us. We know your personal information is important to you. As a result, we want you to know how we may use it.  We use information for the following purposes: 

<li>	To provide the Site, related services, quotes, and products to you;</li>
<li>	To respond to any request you have made, including for information, products, and/or services;</li>
<li>	For our marketing efforts, including to keep you informed about existing and new products and services;</li>
<li>	To operate sweepstakes, surveys, contests, and other promotions;</li>
<li>	To provide you with customer support;</li>
<li>	To resolve problems and disputes with the Site;</li>
<li>	To improve the Site and our services;</li>
<li>	To protect the security and integrity of the Site;</li>
<li>	To monitor compliance with and enforce this Policy and any other applicable agreements and policies; </li>
<li>	To prevent fraud, protect our business, and to otherwise fulfill our legal obligations;</li>
<li>	If necessary, to notify you about changes to the Site or to any products or services we offer;</li>
<li>	In any other way we may describe when you provide the information, or any other purpose we deem necessary or appropriate; </li>
<li>	To fulfill any other purposes for which you provide it, or offer your consent; and</li>
<li>	As generally permitted under applicable law.</li>

Uses of Information We Collect Automatically or Receive from Third Parties. Information that is collected automatically or that we receive from third parties may be used for a variety of business purposes, such as providing our services or goods to you, monitoring website traffic, delivering relevant content, improving the Site, security of the Site, and use of the Site. We may also use information we collect automatically that is otherwise de-identified, aggregated, or anonymous for any purpose. 

<h5>DISCLOSURE OF YOUR INFORMATION </h5>
We may share  your personal information: 
<li>	With our affiliates, fraternal branches, independent brokers, and sales agents;</li>
<li>	With our subcontractors, service providers, and other third parties we use to support our business, to provide goods or services, or to participate in hosting, operation, maintenance or support of the Site;</li>
<li>	To a buyer or other successor in the event of or during a merger, divestiture, restructuring, dissolution, or other sale or transfer of some or all of our assets or equity, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information is among the assets transferred;</li>
<li>	For any other purposes disclosed by us when you provide the information, or any other purpose we deem necessary or appropriate; or</li>
<li>	With your consent. </li>

We may also share your personal information to comply with any court order or legal obligation, including responding to any lawful government or regulatory request, or if we believe disclosure is necessary to enforce or protect our rights, property, or safety, or that of our users or third parties. 
YOUR CHOICES 
Cookies. If you do not wish us to place cookies, you may set your browser to refuse some cookies, or to alert you when cookies are being sent. If you do so, please note that some parts of the Site may then be inaccessible or may not function properly. Information on deleting or controlling cookies can be found at www.aboutcookies.org. 
Opt-Out. You may opt out of receiving future marketing communications from us any time we request your personal information. You can opt out by using the unsubscribe process by emailing us at info@easysource.ai with “unsubscribe” in the subject line. We will use commercially reasonable efforts to process such request in a timely manner. 

<h5>EXTERNAL WEBSITES</h5>

Our Site may contain links to websites operated and maintained by third parties, including social media platforms. We have no control over and are not responsible for the privacy policies or content on those websites. Links to third party websites do not imply an affiliation between EasySource and the website owner, or any endorsement, approval, or verification of any content contained on those websites. Privacy policies on third party websites may be different from our Policy. You access such links at your own risk. We recommend you read the privacy policy of a website before disclosing any of your information. 

<h5>CHILDREN UNDER THE AGE OF 13</h5>

We do not knowingly collect personal information from children under 13. In the event that we learn that we have collected personal information from a child under the age of 13 without parental consent, we will delete that information and otherwise comply with the requirements of any applicable law, including the Children’s Online Privacy Protection Act. If you believe that we might have any information from or about a child under the age of 13, please contact us at info@easysource.ai.

<h5>SECURITY</h5>

We strive to use reasonable means to secure your personal information; however, please keep in mind that the transmission of information over the Internet and on mobile platforms is not always secure, which means we cannot and do not guarantee the complete security of any personal information you provide to us. Please consider this prior to submitting personal information to us via the Site.  To the extent that you use a username and / or password to access the Site or any portion of it, the confidentiality of your username and password are your responsibility.

<h5>CHANGES TO THIS POLICY</h5>

We may update this Policy to reflect material changes in the manner in which we deal with personal information, including complying with law or for business purposes. The Policy posted here will always be current. We encourage you to review it regularly. If we make a material change to this Policy, we will either post a notice on the Site or send you an email notifying you of the update. Your continued use of this Site after we make changes to this Policy is deemed to be your acceptance of any changes regardless of whether you receive an email.

<h5>CONTACT US</h5>

To ask questions or comment about this Policy, remove or change your contact information in our database, or to not receive certain mailings or other communications, please contact us using one of the options below: 

<li>	Via mail: 	EasySource
Attn: Victor Miller
5738 Kentucky Ave #3,
Pittsburgh, PA 15232</li>

<li>	Via email: 	info@easysource.ai </li>

