{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block 'content' %}
<div class="container1">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item active">Test Your Knowledge</li>
    </ol>
<style >

    .container1{    
    position: relative;
    top: 53px;
    left: 210px;
    width: 80%;
    height: 100%;}

</style>
<div align="center">
<h2>{% trans "Test Your Knowledge" %}</h2>
    {% if quiz_list %}
		<table class="table">

		  <thead>
			<tr>
			  <th>{% trans "Select Your Quiz" %}</th>
			  <th>{% trans "Category" %}</th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}

  			<tr>
			  <td>
			  	<a href="{% url 'quiz_start_page' slug=quiz.url %}">
			  {{ quiz.title }}
			  	</a>
			  </td>
			  <td>{{ quiz.category }}</td>
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "There are no available quizzes" %}.</p>
    {% endif %}
   </div>
  </div>
{% endblock %}
